<div style="width:100%">
  <canvas id="canvas"></canvas>
  <club-arrived-new-club-arrived [name]="new_name_club" [association]="new_name_association" [canShow]="canShow_new_club">
  </club-arrived-new-club-arrived>
  <!--<club-arrived-chart-associations [chart]="chart" [canShow]="canShow_last_club_and_chart"></club-arrived-chart-associations>-->
  <club-arrived-last-club-arrived [name]="last_name_club" [association]="last_name_association" [canShow]="canShow_last_club_and_chart"></club-arrived-last-club-arrived>

</div>