<div>
    <div *ngIf="canShow" class="chart">
        <!-- [customColors]="barCustomColors()" -->
        <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="colorScheme"
            [results]="chart"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showDataLabel]=true>
        </ngx-charts-bar-vertical>
    </div>
</div>